@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../fonts/DelaGothicOne/DelaGothicOne.css';
@import '../fonts//Merriweather/Merriweather.css';

@layer utilities {
  .h1-text {
    @apply font-normal leading-[58px] text-[40px] text-center text-white ;
    text-shadow: 0px 5px 1px black, 3px 5px 1px black, -3px 5px 1px black, 3px 3px 1px black,
      3px -3px 1px black, -3px 3px 1px black, -3px -3px 1px black;
  }
  .p-text {
    @apply font-normal leading-[29px] text-[20px] text-center text-white text-shadow;

  }
  .button-text {
    @apply font-normal leading-[24px] text-[24px] text-center text-black;
  }

  .timer-text {
    @apply font-black text-[48px] leading-[60px] text-white text-shadow ;
    font-family: 'Merriweather';
  }
}

html,
body,
#root {
  height: 100%;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

body {
  font-family: 'Dela Gothic One', 'Merriweather', sans-serif;
  margin: 0;
  // background: rgb(63, 94, 251);
  // background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(138, 205, 234, 1) 100%);
  background-image: url('../images/backgrounds/bg.png');
  background-position: center;
  background-size: cover;
}

.text-shadow {
  text-shadow: #000 3px 1px 0,#000 2.83487px .981584px 1px,#000 2.35766px 1.85511px 0,#000 1.62091px 2.52441px 1px,#000 .705713px 2.91581px 1px,#000 -0.287171px 2.98622px 1px,#000 -1.24844px 2.72789px 0,#000 -2.07227px 2.16926px 1px,#000 -2.66798px 1.37182px 1px,#000 -2.96998px .42336px 1px,#000 -2.94502px -0.571704px 0,#000 -2.59586px -1.50383px 1px,#000 -1.96093px -2.27041px 1px,#000 -1.11013px -2.78704px 1px,#000 -0.137119px -2.99686px 0,#000 .850987px -2.87677px 1px,#000 1.74541px -2.43999px 1px,#000 2.44769px -1.73459px 1px,#000 2.88051px -0.838247px 1px;
}